body {
	width: calc(100% - 20px);
	min-width: 300px;
	max-width: 580px;
	margin: 5px auto;
	padding: 0 10px;
	font-size: 1.1em;
}

h1 {
	padding: 10px;
	margin: 0;
	margin-top: 10px;
	font-size: 1.6em;
}

h3.item-day {
	display: inline-block;
	position: absolute;
	left: -75px;
	top: 20px;
	padding: 4px 8px;
	margin: 0;
	margin-bottom: 20px;
	color: white;
	font-size: 0.9em;
	background-color: #296dab;	
}

#page-description {
	color: grey;
	padding: 0 30px;
	margin: 10px 0;
	font-size: 1.1em;
}

div.item {
	position: relative;
	padding: 10px 0;
	padding-top: 20px;
	border-bottom: solid #e6e6e6 1px;
}

figure {
	width: 100%;
	margin: 0;
	padding: 0;
}

figcaption {
	color: #296dab;
	padding: 20px;
	text-align: center;
	font-family: 'Georgia';
	font-size: 1.1em;
	margin: 0;
}

img {
	display: block;
	max-width: calc(100% - 40px);
    height: auto;
    margin: 0 auto;
}

a.video-uri, a.video-uri:visited {
	text-decoration: underline;
	color: #296dab;
	padding: 2px 4px;
}

div.item-description {
	padding-bottom: 10px;
	font-size: 1em;
	font-family: "Open Sans", normal;
	font-weight: 500;
}

div.item-description a {
	text-decoration: none;
	color: #175896;
}

div.item-description a:hover {
	text-decoration: underline;
}

div.original-post-link-box {
	flex: 1;
	text-align: right;
}

a.original-post-link {
	color: #296dab;
	padding: 2px 4px;
	font-size: 0.9em;
}

div.item-footer {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 5px;
}

div.see-more {
	display: flex;
	justify-content: center;
	align-items: center;
}

a.see-more {
	display: inline-block;
	padding: 4px 8px;
	margin: 10px auto;
	color: #296dab;
	font-size: 1.3em;
	text-decoration: none;
}

footer {
    color: grey;
    font-size: 0.75em;
	min-height: 50px;
	margin-top: 20px;
	padding: 20px;
	padding-top: 50px;
    text-align: center;
    user-select: none;
}

footer span {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin: 3px;
}

footer a {
    color: #296dab;
    padding: 2px;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

#reload-indicator {
	position: absolute;
	width: 100%;
	height: 32px;
	padding: 10px 0;
	top: 0;
	left: 0;
	color: #296dab;
	font-size: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 1000;
	transform: translate3d(0, -52px, 0);
}

#reload-indicator.successful {
	color: #2b9c2b;
}

#reload-indicator.failed {
	color: #e41b1b;
}

#reload-indicator-text {
	margin: 2px auto;
	width: 4.2em;
}

@media screen and (max-width: 729px) {
	h3.item-day {
		position: static;
	}

	#page-description {
		display: none;
	}
}

@media screen and (max-width: 340px) {
	h1, a.see-more {
		font-size: 100%;
	}
}

@media (hover: hover) {
	a.color-hover:hover {
		color: white;
		background-color: #296dab;
	}
}