body {
	max-width: 580px;
	width: calc(100% - 20px);
	margin: 5px auto;
	padding: 0 10px;
	font-size: 20px;
}

h1 {
	padding: 10px;
	font-size: 30px;
}

h3.item-day {
	text-align: right;
	margin-top: 30px;
	padding-right: 10px;
}

p#page-description {
	color: grey;
	padding: 0 30px;
	margin: 0;
	font-size: 20px;
}

div.item {
	margin: 10px 0;
	border-bottom: solid #bfbfbf 1px;
}

figure {
	width: 100%;
	margin: 0;
	padding: 0;
}

figcaption {
	color: #296dab;
	padding: 20px;
	text-align: center;
	font-family: 'Georgia';
	margin: 0;
}

img {
	display: block;
	max-width: calc(100% - 40px);
    height: auto;
    margin: 0 auto;
}

p.item-description {
	padding-bottom: 20px;
	font-size: 18px;
	font-family: "Open Sans", normal;
	font-weight: 500;
}

div.original-post-link-box {
	flex: 1;
	text-align: right;
}

a.original-post-link {
	color: #296dab;
	padding: 2px 4px;
	font-size: 15px;
}

a.original-post-link:hover {
	color: white;
	background-color: #296dab;
}

div.item-footer {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 5px;
}

footer {
	color: grey;
	font-size: 12px;
	padding: 15px 0;
	text-align: center;
	margin-bottom: 20px;
}

#my-name {
	color: grey;
	text-decoration: none;
	padding: 2px;
	cursor: pointer;
}

#my-name:hover {
	color: white;
	background-color: #296dab;
}

#git-logo {
	width: 20px;
	height: 20px;
}

#git-logo:hover {
	filter:
		invert(0.4)
		sepia(1)
		hue-rotate(150deg)
		brightness(0.7);
}