<html>
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ .Title }}</title>
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" href="styles.css">
		<link rel="manifest" href="manifest.json">
		<link rel="apple-touch-icon" href="icons/logo_180w.png">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	</head>
	<body>
		<nav>
			<div class="width-box">
				<h1>{{ .Title }}</h1>
			</div>
		</nav>
		<div class="body-filler">
			<div id="reload-indicator" class="">
				<div id="reload-indicator-text">reload 🌕</div>
			</div>
			<main>
				<div>
				{{ range $_, $Item := .Items }}
					<div class="item">
						<figure>
							<h3 class="item-day">{{ $Item.Day }}</h3>
							<a href="{{ $Item.ImgSrc }}" target="_blank">
								<img src="{{ $Item.ImgSrc }}" alt="{{ $Item.Title }}" loading="lazy">
							</a>
							<figcaption>
								<span>{{ $Item.Title }}</span>
							</figcaption>
						</figure>
						<div class="item-description">{{ $Item.Description }}</div>
						<div class="item-footer">
							<div class="daily-random-number-box"></div>
							<div class="original-post-link-box">
								<a class="original-post-link color-hover" href="{{ $Item.Link }}" target="_blank">original&nbsp;post</a>
							</div>
						</div>
					</div>
				{{ end }}
				</div>
				<div class="see-more">
					<a class="see-more color-hover" href="https://en.wikipedia.org/wiki/Wikipedia:Picture_of_the_day/Archive" target="_blank">... more images in the Archive →</a>
				</div>
				<footer>
					<span>Wikipedia picture of the day feed by <a class="color-hover" href="https://github.com/fabritsius" target="_blank">@fabritsius</a> – Sep&nbsp;2018</span>
					<br><span><a class="color-hover" href="https://github.com/fabritsius/daily-wikipedia-img" target="_blank">Source Code is available on GitHub</a></span>
				</footer>
			</main>
		</div>
		<script src="js/pull-reload.js"></script>
		<script src="js/scroll-top.js"></script>
		<script>
			if ('serviceWorker' in navigator) {
				window.addEventListener('load', () => {
					navigator.serviceWorker.register('/sw.js').then((registration) => {
						console.log('ServiceWorker registration successful with scope: ', registration.scope);
					}, (err) => {
						console.log('ServiceWorker registration failed: ', err);
					});

					navigator.serviceWorker.addEventListener('message', (event) => {
						if (event.data && event.data === 'reload-window') {
							history.go(0);
						}
					});
				});
			}
		</script>
	</body>
</html>
